<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{{ url_for('static', filename='favicon/favicon.ico') }}">
    <script src="https://kit.fontawesome.com/aba3630d03.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>PAN Card Tamper Detector</title>
</head>

<body>

    <nav class="navbar">
        <a href="{{ url_for('index') }}">Pan Card Validation</a>
        <div class="dropdown">
            <button class="dropbtn">Test Images
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('static', filename='sample_data/original.jpg') }}" target="_blank"><span
                        title="select save link as..."><i class="fas fa-download"></i>
                        Original Image</span></a>
                <a href="{{ url_for('static', filename='sample_data/tampered.jpg') }}" target="_blank"><span
                        title="select save link as..."><i class="fas fa-download"></i>
                        Tampered Image</span></a>
            </div>
        </div>
    </nav>

    <div class="container">
        <form class="form" name="PanCardUpload" action='/' method="post" enctype="multipart/form-data">
            <label for="file_upload" class="form-label">Upload Pan Card:</label>
            <div class="file-upload-wrapper" data-text="Select your file!">
                <input class="file-upload-field" type="file" name="file_upload" id="file_upload">
            </div>
            <button class="actions" id="check" type="submit">Check</button>
            <div class="result">
                {% if pred %}
                <h4 id="result">{{pred}}</h4>

                {% else %}
                <h4>result...</h4>
                {% endif %}
            </div>
            <a class="refresh" href="{{ url_for('index') }}" aria-current="page"><i class="fas fa-sync-alt"></i>
                Page</a>
        </form>

        <div class="image-compare">

            {% if pred %}

            <div class="images">

                <div class="original">
                    <img src="{{ url_for('static', filename='original/image.jpg') }}" title="original Pan Card"
                        alt="original Pan Card">
                    <p>Our Original Pan Card</p>
                </div>

                <div class="original_02">
                    <img src="{{ url_for('static', filename='generated/image_original.jpg') }}"
                        title="original Pan Card" alt="original Pan Card">
                    <p>cv2 computer vision used to show<br>differences</p>
                </div>
                <div class="test">
                    <img src="{{ url_for('static', filename='generated/image_uploaded.jpg') }}" title="Your Pan Card"
                        alt="Your Pan Card">
                    <P>Your image</P>
                </div>

                <div class="test_02">
                    <img src="{{ url_for('static', filename='generated/image_diff.jpg') }}" title="original Pan Card"
                        alt="original Pan Card">
                    <p>cv2 computer vision used to show<br>differences between your image<br>and the original Pan Card
                    </p>
                </div>

                <div class="thresh">
                    <img src="{{ url_for('static', filename='generated/image_thresh.jpg') }}" title="original Pan Card"
                        alt="original Pan Card">
                    <p>Threshold threshold mage between<br>the two cv2 images</p>
                </div>

            </div>

            {% else %}

            <div class="test-image">
                <img src="{{ url_for('static', filename='original/image.jpg') }}" title="original Pan Card"
                    alt="original Pan Card">
                <p>The Original Pan Card</p>
            </div>
            
            {% endif %}


        </div>

        <script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
            integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
        <script language="JavaScript" type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}""></script>
    <script src=" https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
</body>

</html>